{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casulty Extraction</title>
    <link rel="stylesheet" href="{% static 'grid.css' %}">
</head>

<body>
    <!-- ---------------main body container--------- -->
    <div class="indexContainer">

        <!-- -----------------navbar----------------- -->
        <nav class="nav">
            <div class="navContainer">
                <div class="menu" >
                    <i class="fas fa-bars" id="menu"></i>
                </div>
                
				{% if isHome %}
					<div class="searchcontainer">
						<div><input class="form" method="post" type="text" placeholder=" Search" aria-label="Search" name="search_main"></div>
						<div><a href="/search"><i class="fas fa-search"></i></a></div>
					</div>
				{% endif %}
            </div>

        </nav>


        <!-- --------------------sidebar--------------------- -->
        <div class="sidebar " id="sidebar">
            <div class="sidebarContainer half-sidebar">
                <ul>
                    <li><a href="{% url 'newsextraction:home' %}"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'newsextraction:extraction' %}"><i class="fas fa-file-download"></i>Extraction</a></li>
                    <li><a href="visualization.html"><i class="fas fa-tv"></i>Visualization</a></li>
                </ul>
                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>

		{% block body %}


		{% endblock %}

		{% block extract %}


		{% endblock %}


    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src = "{% static 'js/extracted_item.js' %}"></script>
    <script>

       
        let menu = document.getElementById("menu");
        let bodyContainer = document.getElementById("bodyContainer");
        menu.addEventListener('click', function(){
            console.log("clicked");
            let sidebar = document.getElementById("sidebar");
            if(sidebar.style.display == "block"){
                sidebar.style.display = "none";
                bodyContainer.style.marginLeft= "0px";
                bodyContainer.style.width = "70%"

            } else{
                sidebar.style.display = "block";
                bodyContainer.style.marginLeft = "210px";
                bodyContainer.style.width = "55%"
            }
        });


    </script>
</body>

</html>