{% extends "base.html" %}

{% block body %}

<div class="mainbody">
	<div class="bodyContainer" id="bodyContainer">
		<div class="container">
			<form method="post" action="" style="position : relative;
   width  : 70%;
   height : 30%;
   margin : 0 auto;
   padding: 10px;
   box-sizing: border-box;">
				{% csrf_token %}
				{% for f in form%}
				{{ f.errors }}
				{{ f.label_tag }}
				{{f}}
				&nbsp;
				{% endfor %}
				<br>
				<br>
				<input type="text" id="sname" name="sname" placeholder="Search text" style="width: 60%;"><br>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
			<br>
		</div>
		<div class="tophead">
			<h2>Recent activities</h2>
		</div>
		<h1 style="text-align: center;">Search Results for "{{ search}}"</h1>
		{% if posts %}
		{% for news in posts %}
		<div class="card my-2 ">
			<h3 class="card-header text-white bg-dark">{{ news.day }} {{ news.month }} {{ news.year }}</h3>
			<div class="card-body">
				<h4 class="card-title">{{ news.header }}</h4>
				<p class="card-text small">Source: {{ news.source }}</p>
				<div class="card-footer d-flex align-items-center justify-content-between">
					<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#Modal"
						onclick="selectedItem(
									{
										death: '{{ news.death }}', 
										injury: '{{ news.injury }}', 
										day: '{{ news.day }}', 
										month: '{{ news.month }}', 
										year:'{{ news.year }}',
										vehicleType: '{{ news.vehicleType }}',
										vechicleCode: '{{ news.vehicleCode }}', 
										location: '{{ news.location }}',
										link:'{{ news.link }}'
									}
								)">
						View More
					</button>

					<!-- Modal -->
					<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Extracted items
									</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<div class="card-body cardbodycontainer">
										<h2>Extracted items</h2>
										<div>Death Count: <span id="deathcount"></span></div>
										<div>Injured Count: <span id="injuredcount"></span></div>
										<div>Vehicle: <span id="vehicle"></span></div>
										<div>Vehicle Number: <span id="vehicle_number"></span></div>
										<div>Location: <span id="location"></span></div>
										<div>Date: <span id="date"></span></div>
										<div>Link: <span id="link"></span></div>
									</div>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}


		{% else %}
		<div
			style="color: rgba(19, 125, 196, 0.863);text-align: center; text-decoration: rgb(12, 44, 223); text-rendering: geometricPrecision;text-shadow: 1px 1px 2px rgb(240, 11, 11), 0 0 25px rgb(85, 83, 82), 0 0 5px rgb(204, 152, 55);">
			</br>
			<br>

			<p style="font-size: 40px;">Sorry, Nothing Found</p>
		</div>
		{% endif %}
	</div>

</div>
{% endblock %}

{% block extract %}
<!-- ------------------extracted--------------------- -->
<div class="extract">

	<div class="extractContainer">
		<div class="line"> </div>
		<div class="infoContainer">
			<h2>Extracted items</h2>
			<div>Death Count: <span>2</span></div>
			<div>Injured Count: <span>2</span></div>
			<div>Injury: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui cumque
					architecto praesentium tenetur quam. Nihil nesciunt eaque dignissimos eos veniam non,
					molestiae distinctio odit vero commodi porro qui, delectus ad at fugiat impedit.2</span>
			</div>
			<div>Vehicle: <span>2</span></div>
			<div>Vehicle Number: <span>2</span></div>
			<div>Location: <span>2</span></div>
			<div>Date: <span>2</span></div>
			<div>Full Detail:
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsum error provident optio
					repellat debitis, reiciendis atque perspiciatis! Dignissimos fuga tempore voluptates odit,
					reprehenderit architecto exercitationem est libero, atque hic autem, quia modi?
				</p>
			</div>


		</div>

	</div>
</div>

{% endblock %}