{% extends "base.html" %}

{% block body %}   
	<div class="mainbody">
		<div class="bodyContainer" id="bodyContainer">
			<div class="tophead">
				<h2>Recent activities</h2>
			</div>
			{% for news in newsList %}
				<div class="card">
					<div class="date">
						<!-- <h3>17</h3>
						<h4>july</h4>
						<h4>2020</h4> -->
						{{ news.date }}
					</div>
					<div class="details">
						<div>
							<h3>{{ news.header }}</h3>

						</div>
						<div class="source">
							<h5>Source: {{ news.source }}</h5>
						</div>

						<div class="btn">
							<a href="#">
								<button 
								onclick = "selectedItem('{{ news.death }}', '{{ news.injury }}')"
								>
									View more
								</button>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}

{% block extract %}
	<!-- ------------------extracted--------------------- -->
	<div class="extract">

		<div class="extractContainer">
			<div class="line"> </div>
			<div class="infoContainer">
				<h2>Extracted items</h2>
				<div>Death Count: <span>2</span></div>
				<div>Injured Count: <span>2</span></div>
				<div>Injury: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui cumque
						architecto praesentium tenetur quam. Nihil nesciunt eaque dignissimos eos veniam non,
						molestiae distinctio odit vero commodi porro qui, delectus ad at fugiat impedit.2</span>
				</div>
				<div>Vehicle: <span>2</span></div>
				<div>Vehicle Number: <span>2</span></div>
				<div>Location: <span>2</span></div>
				<div>Date: <span>2</span></div>
				<div>Full Detail:
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsum error provident optio
						repellat debitis, reiciendis atque perspiciatis! Dignissimos fuga tempore voluptates odit,
						reprehenderit architecto exercitationem est libero, atque hic autem, quia modi?
					</p>
				</div>


			</div>

		</div>
	</div>

{% endblock %}