{% extends "base.html" %}

{% block body %}   
	<div class="mainbody">
		<div class="bodyContainer" id="bodyContainer">
			<div class="tophead">
				<h2>Recent activities</h2>
			</div>
			{% for news in newsList %}
				<div class="card">
					<div class="date">
						<h3>{{ news.day }}</h3>
						<h4>
							{{ news.month }}
						</h4>
						<h4>{{ news.year }}</h4>
					</div>
					<div class="details">
						<div>
							<h3>{{ news.header }}</h3>

						</div>
						<div class="source">
							<h5>Source: {{ news.source }}</h5>
						</div>

						<div class="btn">
							<a href="#">
								<button 
								onclick = "selectedItem('{{ news.death }}', '{{ news.injury }}', '{{ news.day }}', '{{ news.month }}', '{{ news.year }}','{{ news.vehicle }}', '{{ vehicle_number }}', '{{ news.location }}','{{ news.link }}')"
								>
									View more
								</button>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}

{% block extract %}
	<!-- ------------------extracted--------------------- -->
	<div class="extract">

		<div class="extractContainer">
			<div class="line"> </div>
			<div class="infoContainer">
				<h2>Extracted items</h2>
				<div>Death Count: <span id="deathcount"></span></div>
				<div>Injured Count: <span id="injuredcount"></span></div>
				<div>Injury: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui cumque
						architecto praesentium tenetur quam. Nihil nesciunt eaque dignissimos eos veniam non,
						molestiae distinctio odit vero commodi porro qui, delectus ad at fugiat impedit.2</span>
				</div>
				<div>Vehicle: <span id="vehicle"></span></div>
				<div>Vehicle Number: <span id = "vehicle_number"></span></div>
				<div>Location: <span id="location"></span></div>
				<div>Date: <span id="date"></span></div>
				<div>Link: <span id="link"></span></div>


			</div>

		</div>
	</div>

{% endblock %}