{% extends "base.html" %}
{% load static %}

{% block body %}

<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Visualization</h1>
		<div class="card mb-4">
			<div class="card-body">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nostrum ex nemo
					assumenda, quo omnis quidem ad voluptates numquam in natus repellendus rem fugiat quis
					dicta quisquam. Provident, minus consectetur!</p>
			</div>
		</div>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-chart-area me-1"></i>
				Area Chart
			</div>
			<div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-bar me-1"></i>
						Bar Chart
					</div>
					<div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-pie me-1"></i>
						Pie Chart
					</div>
					<div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
				</div>
			</div>
		</div>
	</div>
</main>


{% endblock %}


{% block script %}
<script src="{% static 'js/area-chart.js' %}"></script>
<!-- <script src="{% static 'js/bar-chart.js' %}"></script> -->
<script src="{% static 'js/pie-chart.js' %}"></script>

<script>
	districts = []
	countAccident = []
	deathCount = {}

	{% for district, count in locationCount.items %}
		districts.push('{{ district }}')
		countAccident.push('{{ count }}')
	{% endfor %}

	{% for district, count in deathCount.items %}
		deathCount['{{ district }}'] = '{{ count }}'
	{% endfor %}
	console.log(deathCount)


	// Bar Chart Example
	var ctx = document.getElementById("myBarChart");
	var myLineChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: districts,
			datasets: [{
				label: "Accident Number",
				backgroundColor: "rgba(2,117,216,1)",
				borderColor: "rgba(2,117,216,1)",
				data: countAccident,
			}],
		},
	});

</script>
{% endblock %}