{% extends "base.html" %}
{% load static %}

{% block body %}

<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Visualization</h1>

		<div class="col-md-4 my-5 d-flex ">
			<select class="form-select" aria-label="Default select example" id="dataSelect" onchange="dataSelect()">
				<option selected value="accident">Accident Count</option>
				<option value="death">Death Count</option>
				<option value="injury">Injury Count</option>
			</select>

		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-header" id="titleBarGraph">
						<i class="fas fa-chart-bar me-1"></i>
						Accident Number
					</div>
					<div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-pie me-1"></i>
						Number of accident of vehicles
					</div>
					<div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
				</div>
			</div>
		</div>
	</div>
</main>


{% endblock %}


{% block script %}
<script src="{% static 'js/area-chart.js' %}"></script>
<script src="{% static 'js/bar-chart.js' %}"></script>
<script src="{% static 'js/pie-chart.js' %}"></script>

<script>
	var data = {}
	var barChart;


	districts = []
	countAccident = {}
	deathCount = {}
	vehicleCount = {}
	var data = {}

	{% for district, count in locationCount.items %}
	if (countAccident['{{ district }}'.toLowerCase()] == undefined)
		countAccident['{{ district }}'.toLowerCase()] = parseInt('{{ count }}')
	else
		countAccident['{{ district }}'.toLowerCase()] += parseInt('{{ count }}')
	{% endfor %}

	{% for vehicle, count in vehicleCount.items %}
	if ('{{ vehicle }}' != "")
	vehicleCount['{{ vehicle }}'] = '{{ count }}'
	{% endfor %}



	let ctxBarChart = document.getElementById("myBarChart");
	barChart = new Chart(ctxBarChart, {
		type: 'bar',
		data: {
			labels: Object.keys(countAccident),
			datasets: [{
				label: "Accident Number",
				backgroundColor: "rgba(2,117,216,1)",
				borderColor: "rgba(2,117,216,1)",
				data: Object.values(countAccident),
			}],
		},
		options: {
			legend: {
				display: false
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						min: 0
					}
				}]
			}
		}
	});
	// setBarChart(ctxBarChart, Object.keys(countAccident), Object.values(countAccident), "Accident Number")




	function dataSelect() {
		let x = document.getElementById("dataSelect").value;
		let titleCtx = document.getElementById("titleBarGraph")
		let ctxBarChart = document.getElementById("myBarChart");
		data = {}
		barChart.destroy()
		if (x == "death") {
			titleCtx.innerText = "Death Number"
			{% for district, count in deathCount.items %}
			if (data['{{ district }}'.toLowerCase()] == undefined)
				data['{{ district }}'.toLowerCase()] = parseInt('{{ count }}')
			else
				data['{{ district }}'.toLowerCase()] += parseInt('{{ count }}')
			{% endfor %}

		}
		if (x == "injury") {
			titleCtx.innerText = "Injury Number"
			{% for district, count in injuryCount.items %}
			if (data['{{ district }}'.toLowerCase()] == undefined)
				data['{{ district }}'.toLowerCase()] = parseInt('{{ count }}')
			else
				data['{{ district }}'.toLowerCase()] += parseInt('{{ count }}')
			{% endfor %}
		}
		if (x == "accident") {
			titleCtx.innerText = "Accident Number"
			{% for district, count in locationCount.items %}
			if (data['{{ district }}'.toLowerCase()] == undefined)
				data['{{ district }}'.toLowerCase()] = parseInt('{{ count }}')
			else
				data['{{ district }}'.toLowerCase()] += parseInt('{{ count }}')
			{% endfor %}
		}
		console.log(data)
		barChart = new Chart(ctxBarChart, {
			type: 'bar',
			data: {
				labels: Object.keys(data),
				datasets: [{
					label: titleCtx.innerText,
					backgroundColor: "rgba(2,117,216,1)",
					borderColor: "rgba(2,117,216,1)",
					data: Object.values(data),
				}],
			},
			options: {
				legend: {
					display: false
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							min: 0
						}
					}]
				}
			}
		});
	}





	ctx = document.getElementById("myPieChart");
	setPieChart(ctx, Object.keys(vehicleCount), Object.values(vehicleCount))

</script>
{% endblock %}